@media only all and (max-width: 700px) {
    /* for 700px or less */
  body {
    font-size: 80%;
    line-height: 1.22;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
	margin:0px;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: -0.1rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.05rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.07rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    margin-bottom: 1.1rem;
  }
  h5 {
    font-size: 1.06rem;
  }
  .frame-outer {
	width: 100%;
	min-width:240px;
	margin:0px;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    font-size: 0.9rem;
  } 
  .logo {
    width: 17.4rem;
    padding-left: 5.5%;
  }
  .content {
    padding: 2.5rem 5.65% 2.5rem 5%;
  }
  .box-left {
    width: 100%;
    padding: 0 0 1rem 0;
  }
  .box-right {
    width: 100%;
    padding: 0 0 1rem 0;
  }
  .flex {
    margin: 1.6rem 0 2.3rem 0;
  }
  .flex > div {
    margin-right: 0.6rem
  }
  .hide {
    display: inline-block;
  }
  .hide_m {
    display: none;
  }
  .blue-line {
    margin-top: 2.5rem;
  }
  .ap-bg {
    background: #ffffff;
  }
  .ap-r {
    display: none;
  }
  .footer {
    margin-top: 2.3rem;
  }
  .mb-m {
    margin-bottom: 1rem;
}
}

.refnr {}

.apply {}
