/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Calibri', sans-serif;
  font-size: 100%;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
  word-spacing: normal;
  line-height: 1.2;
  background-color: #f1f1f1;
  /*	Hintergrundbilder werden in Chrome mit ausgedruckt	*/
  -webkit-print-color-adjust:exact;
  text-rendering: optimizeLegibility;
}


img {
  max-width: 100%;
  height: auto;
  width: auto9;
  border: 0;
  vertical-align: middle;
}

a:link,
a:visited,
a:active,
a:focus {
  color: #003865;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #003865;
}

p {
  margin: 0 0 1rem 0;
}

h1,h2,h3,h4,h5 {
  font-family: 'Panton',sans-serif;
  color: #003865;
  line-height: 1.3;
  font-size: 2.81rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin: -0.1rem 0 2.0rem 0;
}

h2 {
  line-height: 1.3;
  font-size: 1.5rem;
  padding: 0;  
  margin: 0;
}

h3 {
  font-size: 1.44rem;
  margin-bottom: 0.9rem;
}

h4 {
  background: #003865;
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  color: #ffffff;
  font-size: 1.43rem;
  margin-bottom: 1.2rem;
}

h5 {
  font-size: 1.25rem;
}

ul {
  margin: 0 auto 2.75rem 0.5rem;
  padding-left: 0.5rem;
  list-style-type: disc;
}

li {
  margin: auto auto 0.64rem auto;
  padding: 0;
}

.frame-outer {
  position: relative;
  padding: 0;
  width: 782px;
  margin: 1.3rem auto;
  background-color: #FFF;
  border: 0.02rem solid #A7A9A4;
  box-shadow: -0.1rem 0.1rem 1rem #999;
  font-size: 1rem;
}

.frame-outer:after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  width: 27rem;
  float: left;
  padding: 2.8rem 5% 3.1rem 5%;
}

.content {
  padding: 3rem 5% 2.5rem 5%;
}
.content2 {
  padding: 3rem 4% 2.5rem 4%;
}
.content:after {
  content: "";
  display: block;
  clear: both;
}

.blue-line {
  border-bottom: 0.01rem solid #003865;
  margin-bottom: 3rem;
}

.box-left {
  float: left;
  width: 48%;
}

.box-right {
  float: right;
  width: 48%;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}

.hide {
  display: none;
}

.flex,
.flex-work-life {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin: 1.6rem 0 2.5rem 0;
}

.flex > div {
  margin-right: 0.68rem;
}

.flex-work-life {
  margin: 0;
}

.left {
  width: 30%;
  margin-right: 5%;
}

.right {
  width: 60%;
  margin-right: 5%;
}

.ap-bg-3 {
  background: #ffffff url('sonja.png') no-repeat bottom center / 100%;
}

.ap-r {
  display: none;
}

.button a {
  font-family: 'Panton',sans-serif;
  display: inline-block;
  background: #003865;
  padding: .6rem 2.5rem .6rem 2.5rem;
  margin: 2rem auto;
  cursor: pointer;
  border: .1rem solid #003865;
  transition: all 140ms ease 0s;
  -moz-transition: all 140ms ease 0s;
  -webkit-transition: all 140ms ease 0s;
  color: #fff;
}

.footer {
  margin-top: 6.5rem;
}

.footer-mb-s {
  margin-top: 2.1rem;
}

.footer:after {
  content: "";
  display: block;
  clear: both;
}

.slider-wrap {
  max-width: 800px;
  width: auto;
  height: auto;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.slideshow li span {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: image 18s linear infinite;
  animation: image 18s linear infinite;
}

.slideshow li span img {
  width: 100%;
}

@keyframes image {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  3% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    opacity: 1;
  }
  43.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes image {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  3% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    opacity: 1;
  }
  43.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slideshow li {
  margin:0;
  padding:0;
  list-style: none;
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.slideshow li:nth-child(2) span {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

ul.slideshow {
  padding-left: 0;
  margin:0;
}

ul.slideshow li::before {
  display: none;
}

.font-s {
  font-size: 0.76rem;
}

.my-l {
  margin: 3.2rem 0;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 2.5rem;
}
.refnr {}

.apply {}
